<div class="scroll">
	<div class="container">
		<div class="titulo">Total de gastos</div>
		<app-tabela [dados]="dadosTotal" [styles]="stylesPrimeiraTabela"></app-tabela>
	</div>
	<div class="container">
		<div class="titulo">Compras Gerais</div>
		<div class="containerDuasTabelas">
			<app-tabela [dados]="[]" [styles]="stylesTabelasInter"></app-tabela>
			<app-tabela [dados]="[]" [styles]="stylesTabelasNubank"></app-tabela>
		</div>
	</div>
	<div class="container">
		<div class="titulo">Transportes</div>
		<div class="containerDuasTabelas">
			<app-tabela [dados]="[]" [styles]="stylesTabelasInter"></app-tabela>
			<app-tabela [dados]="[]" [styles]="stylesTabelasNubank"></app-tabela>
		</div>
	</div>
	<div class="container">
		<div class="titulo">Alimentação</div>
		<div class="containerDuasTabelas">
			<app-tabela [dados]="[]" [styles]="stylesTabelasInter"></app-tabela>
			<app-tabela [dados]="[]" [styles]="stylesTabelasNubank"></app-tabela>
		</div>
	</div>
</div>