<div class="scroll">
	<div class="container">
		<div class="titulo">Total de gastos</div>
		<app-tabela [dados]="dados?.geral" [styles]="stylesPrimeiraTabela"></app-tabela>
	</div>
	<div class="container">
		<div class="titulo">Compras Gerais</div>
		<div class="containerDuasTabelas">
			<app-tabela [dados]="dados?.interGerais" [styles]="stylesTabelasInter"></app-tabela>
			<app-tabela [dados]="dados?.nubankGerais" [styles]="stylesTabelasNubank"></app-tabela>
		</div>
	</div>
	<div class="container">
		<div class="titulo">Transportes</div>
		<div class="containerDuasTabelas">
			<app-tabela [dados]="dados?.interTransporte" [styles]="stylesTabelasInter"></app-tabela>
			<app-tabela [dados]="dados?.nubankTransporte" [styles]="stylesTabelasNubank"></app-tabela>
		</div>
	</div>
	<div class="container">
		<div class="titulo">Alimentação</div>
		<div class="containerDuasTabelas">
			<app-tabela [dados]="dados?.interAlimentacao" [styles]="stylesTabelasInter"></app-tabela>
			<app-tabela [dados]="dados?.nubankAlimentacao" [styles]="stylesTabelasNubank"></app-tabela>
		</div>
	</div>
</div>
<app-fomulario-criacao></app-fomulario-criacao>