<div class="container-tabela" [ngStyle]="styles">
    <table class="tabela" [ngStyle]="scroll ? {overflowY: 'scroll'} : {overflow: 'hidden'}">
        <tr (click)="clicarLinha($event)" *ngFor="let item of registros" attr.data-id="{{item.id}}"
            [ngClass]="item.id && item.id == idSelecionado ? 'selecionada' : null">
            <td>
                <div>{{item.descricao}}</div>
                <div>{{item.descricao ? "R$ " + item.preco : null}}</div>
            </td>
        </tr>
    </table>
    <div class="total">R$ {{total}}</div>
</div>