<dialog id="dialog" class="dialog">
    <div id="inicio">
        <div (click)="this.sair()" class="voltar">
            ↩
        </div>
        <div class="titulo">Menu de ações</div>

        <button (click)="this.navegar('#novo')" type="button">Novo Gasto</button>
        <button (click)="this.navegar('#editar')" type="button">Editar Gasto</button>
        <button (click)="this.navegar('#deletar')" type="button">Deletar Gasto</button>
    </div>
    <div id="novo">
        <div (click)="this.voltar($event)" class="voltar">
            ↩
        </div>
        <div class="titulo">Novo Gasto </div>
        <form>
            <input name="data" [(ngModel)]="formularioCriar.data" type="number" placeholder="Dia do gasto"
                autocomplete="off">
            <input name="gasto" [(ngModel)]="formularioCriar.descricao" type="text" placeholder="Descrição"
                autocomplete="off">
            <input name="valor" [(ngModel)]="formularioCriar.preco" type="number" step="0.01" placeholder="Valor"
                autocomplete="off">
            <select name="tipo" [(ngModel)]="formularioCriar.tipo">
                <option selected disabled value="0">Selecione o destino</option>
                <option value="1">Geral</option>
                <option value="2">Inter Geral</option>
                <option value="3">Nubank Geral</option>
                <option value="4">Inter Transportes</option>
                <option value="5">Nubank Transportes</option>
                <option value="6">Inter Alimentação</option>
                <option value="7">Nubank Alimentação</option>
            </select>
            <div class="botoes">
                <button (click)="this.criar()" class="enviar">Enviar</button>
                <button (click)="this.limpar()">Limpar</button>
            </div>
        </form>
    </div>
    <div id="editar">
        <div (click)="this.voltar($event)" class="voltar">
            ↩
        </div>
        <div class="titulo">Editar Gasto</div>
        <form>
            <input name="data" [(ngModel)]="formularioEditar.data" type="number" placeholder="Data" autocomplete="off">
            <input name="gasto" [(ngModel)]="formularioEditar.descricao" type="text" placeholder="Descrição"
                autocomplete="off">
            <input name="valor" [(ngModel)]="formularioEditar.preco" type="number" step="0.01" placeholder="Valor"
                autocomplete="off">
            <select name="tipo" [(ngModel)]="formularioEditar.tipo">
                <option selected disabled value="0">Selecione o destino</option>
                <option value="1">Geral</option>
                <option value="2">Inter Geral</option>
                <option value="3">Nubank Geral</option>
                <option value="4">Inter Transportes</option>
                <option value="5">Nubank Transportes</option>
                <option value="6">Inter Alimentação</option>
                <option value="7">Nubank Alimentação</option>
            </select>
            <div class="botoes">
                <button (click)="this.editar()" class="enviar">Enviar</button>
                <button (click)="this.limpar()">Limpar</button>
            </div>
        </form>
    </div>
    <div id="deletar">
        <div (click)="this.voltar($event)" class="voltar">
            ↩
        </div>
        <div class="titulo">Deletar Gasto</div>
        <p>Você tem certeza que deseja deletar esse gasto?</p>
        <div class="botao">
            <button (click)="this.deletar()" class="enviar">Deletar</button>
        </div>
    </div>
</dialog>