<dialog id="dialog" class="dialog">
    <div id="inicio">
        <div (click)="this.sair()" class="voltar">
            ↩
        </div>
        <div class="titulo">Menu de ações</div>

        <button (click)="this.navegar('#novo')" type="button">Novo Gasto</button>
        <button (click)="this.navegar('#editar')" type="button">Editar Gasto</button>
        <button (click)="this.navegar('#deletar')" type="button">Deletar Gasto</button>
    </div>
    <div id="novo">
        <div (click)="this.voltar($event)" class="voltar">
            ↩
        </div>
        <div class="titulo">Novo Gasto </div>
        <form (submit)="this.criar($event)">
            <input name="data" (value)="teste" type="number" placeholder="Dia do gasto">
            <input name="gasto" type="text" placeholder="Descrição">
            <input name="valor" type="number" placeholder="Valor">
            <select name="tipo" title="Destino">
                <option selected disabled value="0">Selecione o destino</option>
                <option value="1">Geral</option>
                <option value="2">Inter Geral</option>
                <option value="3">Nubank Geral</option>
                <option value="4">Inter Transportes</option>
                <option value="5">Nubank Transportes</option>
                <option value="6">Inter Alimentação</option>
                <option value="7">Nubank Alimentação</option>
            </select>
            <button type="submit" class="enviar">Enviar</button>
        </form>
    </div>
    <div id="editar">
        <div (click)="this.voltar($event)" class="voltar">
            ↩
        </div>
        <div class="titulo">Editar Gasto</div>
        <form>
            <input type="number" placeholder="Data">
            <input type="text" placeholder="Descrição">
            <input type="number" placeholder="Valor">
            <select>
                <option selected disabled value="0">Selecione o destino</option>
                <option value="1">Geral</option>
                <option value="2">Inter Geral</option>
                <option value="3">Nubank Geral</option>
                <option value="4">Inter Transportes</option>
                <option value="5">Nubank Transportes</option>
                <option value="6">Inter Alimentação</option>
                <option value="7">Nubank Alimentação</option>
            </select>
        </form>
        <button (click)="this.editar()" class="enviar">Enviar</button>
    </div>
    <div id="deletar">
        <div (click)="this.voltar($event)" class="voltar">
            ↩
        </div>
        <div class="titulo">Deletar Gasto</div>
        <button (click)="this.deletar()" class="enviar">Deletar</button>

    </div>
</dialog>